.blue{
    background-color: aqua;
    height: 500px;
    width: 50%;
}
.main{
    background-color: beige;
    height: 60%;
    margin: 10px;
}
.header{
    background-color: #85045e;
    height: 10%;
}
.content{
    background-color: #ffa500;
    height: 80%;
}
.footer{
    background-color: #0500fc;
    height: 10%;
    color: white;
}
.three{
    float: left;
    width: 50%;
    margin: 10px;
}
.one{
    background-color: black;
    float: right;
    height: 200px;
    width: 200px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 40px;
    color: white;
}
.a, .b, .c{
    background-color: black;
    height: 20px;
    margin-bottom: 10px;
    color: white;
}